@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form class="form-inline my-3">
    <label asp-for="CategoryId">Category</label>
    <select class="form-control ml-2" asp-for="CategoryId" asp-items="Model.Categories">
        <option>All</option>
    </select>
    <label class="ml-3" asp-for="BrandId">Brand</label>
    <select class="form-control ml-2" asp-for="BrandId" asp-items="Model.Brands">
        <option>All</option>
    </select>
</form>

@*https://getbootstrap.com/docs/4.6/components/card/#kitchen-sink*@
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card mb-4">
                <img src="~/images/@product.PictureUri" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <p class="home-product-name">@product.Name</p>
                    <div class="d-flex align-items-baseline">
                        <p class="home-product-price">$@product.Price.ToString("n2")</p>
                        <a href="#" class="btn btn-success card-link float-right ml-auto">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $("#BrandId, #CategoryId").change(function () {
            $(this).closest("form").submit();
        });
    </script>
} 