@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var product in Model.Products)
{
    <div>
        @product.Id - @product.Name - @product.Price- @product.PictureUri
    </div>
}
